@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	width: 15%;
	font-size: large;
}

footer {
	font-size: medium;
}

header {
 margin-left: 20px;
}

img {
	max-width: 75%;
}

main {
	width: 28%;
	font-size: large;
}

nav {
	font-size: large;
}

#copyright {
	font-size: 100%;
}

#main-container {
	overflow: hidden;
	padding: 20px;
}

nav, main, aside {
	float: left;
	padding: 25px;
	margin-bottom: 10px;
  }
  